.section-hero-thanks{
    padding: 75px 0;
}


.svg-thanks{
    fill: $main-dark;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.hero-title-thanks{
    color: $main-dark;
    font-size: 36px;
    margin-bottom: 40px;
}

.user-name, .order-number{
    color: $main-dark;
}

.hero-narr-thanks{
    color: $main-dark;
    margin-bottom: 12px;
}

.hero-desc-thanks{
    color: $main-dark;
    margin-bottom: 40px;
}