@mixin lh($lh, $fs){
    $lhe: calc($lh / $fs);
    line-height: $lhe;
}

    //adaptive

@mixin desc($breakpoint){
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

    //bg

@mixin bg-image($webp, $fallback){
    @supports (background-image: url("#{$webp}")){
        background-image: url("#{$webp}");
    }
    background-image: url("#{$fallback}");
}

    //positioning

@mixin positioning($disp, $fd, $jc, $al, $gp, $wr){
    display: $disp;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $al;
    gap: $gp;
    flex-wrap: $wr;
} 

    //retina

    @mixin retina($dev-ratio, $dpi, $dppx){
        @media (min-device-pixel-ratio:$dev-ratio),
        (min-resolution:$dpi),
        (min-resolution:$dppx)
        {
            @content;
        }
    }