$main-dark:rgba(42, 37, 75, 1);
$main-black: rgba(34, 32, 46, 1);
$main-light: rgba(114, 110, 141, 1);
$main-btn:rgba(249, 249, 249, 1);
$main-white: rgba(255, 255, 255, 1);
$main-light-bg:rgba(249, 249, 249, 1);

$header-br:rgba(0, 0, 0, 0.1);

$hero-btn:rgba(249, 249, 249, 0.15);

$mailing-bg: rgba(249, 249, 249, 1);

$footer-br-and-cart-desc:rgba(78, 77, 147, 1);
$footer-form-bg:rgba(255, 255, 255, 0.15);

$product-and-cart-br:rgba(235, 232, 244, 1);

$chekbox-br:rgba(220, 220, 220, 1);