$black: rgba(34, 32, 46, 1);
$light-purple: rgba(114, 110, 141, 1);
$br: rgba(0, 0, 0, 0.1);
$footer-br: rgba(78, 77, 147, 1);
$white: rgba(255, 255, 255, 1);
$dark-primary: rgba(42, 37, 75, 1);
$clear: rgba(249, 249, 249, 0.15);
$clear-form: rgba(255, 255, 255, 0.15);
$bg :rgba(249, 249, 249, 1);
$placeholder: rgba(218, 218, 233, 100%);
$footer-form: rgba(255, 255, 255, 0.15);