.section-characteristics{
    padding: 48px 0 45px 0;

    &-title{
        @include font-style(Clash Display, 20px, 400, 1.4, _, _, $dark-primary);
        margin-bottom: 36px;
        max-width: 274px;

        @include desc(1440px){
            @include font-style(Clash Display, 24px, 400, 1.3, _, _, $dark-primary);
            max-width: fit-content;
            margin: 0 auto 51px auto;
        }
    }

    @include desc(1440px){
        padding: 60px 0 86px 0;
    }
}

.characteristics-list{
    @include positioning(flex, column, _, _, 36px, _);

    &-title{
        @include font-style( Clash Display, 16px, 400, 1.3, _, _, $dark-primary);
        margin-bottom: 12px;
    }

    &-desc{
        @include font-style( Satoshi, 14px, 400, 1.5, _, _, $dark-primary);      
        
        @include desc(1440px){
            max-width: 266px
        }
    }

    @include desc(1440px){
        @include positioning(flex, row, center, _, 58px, _);
    }
}

.characteristics-svg{
    margin-bottom: 16px;
}