.section-email{
    padding: 48px 0 38px 0;

    &-title{
        @include font-style(Clash Display, 20px, 400, 1.4, _, center, $dark-primary);
        margin-bottom: 16px;

        @include desc(1440px){
            @include font-style(Clash Display, 36px, 400, 1.3, _, center, $dark-primary);
        }
    }

    &-desc{
        @include font-style( Satoshi, 14px, 400, 1.5, _, center, $dark-primary);    
        margin-bottom: 64px;

        @include desc(1440px){
            @include font-style( Satoshi, 16px, 400, 1.5, _, center, $dark-primary);  
            max-width: 470px;  
            margin: 0 auto;
        }
    }

    @include desc(1440px){
        background-color: $bg;
        padding: 52px 65px;
    }
}

.email-container{
    @include desc(1440px){
        background-color: white;
        padding: 68px 54px;
    }
}
