.section-features{
    padding: 48px 0 396px 0;
    background-image: url("../img/home-img/features-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    &-title{
        @include font-style(Clash Display, 20px, 400, 1.4, _, _, $dark-primary);
        margin-bottom: 12px;
        max-width: 274px;

        @include desc(1440px){
            @include font-style(Clash Display, 24px, 400, 1.3, _, _, $dark-primary);
            max-width: 514px;
            margin-bottom: 25px;
        }
    }

    &-desc{
        @include font-style( Satoshi, 14px, 400, 1.5, _, _, $dark-primary);    
        margin-bottom: 40px; 

        @include desc(1440px){
            @include font-style( Satoshi, 16px, 400, 1.3, _, _, $dark-primary);  
            max-width: 536px;
        }
    }

    &-narr{
        @include font-style( Satoshi, 14px, 400, 1.5, _, _, $dark-primary);
        margin-bottom: 64px;

        @include desc(1440px){
            @include font-style( Satoshi, 16px, 400, 1.3, _, _, $dark-primary);  
            max-width: 536px;
        }
    }

    @include desc(1440px){
        padding: 72px 54px;
        background-position: right;
    }
}