.footer{
    padding: 40px 0 20px 0;
    background-color: $main-dark;
}

.footer-container{
    @include positioning(flex, row, flex-start, _, 40px 96px, wrap);

    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid $main-light;

    @include desc(1440px){
        padding-bottom: 48px;
        margin-bottom: 24px;
        @include positioning(flex, row, space-between, _, _, nowrap);
    }
}

.footer-box{
    @include positioning(flex, _, space-between, _, _, _);
}

.footer-mailing{
    width: 100%;

    @include desc(1440px){
        width: auto;
        order: 4;
    }
}

/* footer menu elements */

.menu-container{
    @include desc(1440px){
        order: 1;
    }
}

.menu-title{
        font-size: 16px;
        @include lh(20, 16);
        color: $main-white;
        font-weight: 400;

        margin-bottom: 12px;
}

.menu-list{
    @include positioning(flex, column, _, _, 12px, _);

    &-item{

    }

    &-link{
        font-size: 14px;
        @include lh(19, 14);
        color: $main-white;
        font-weight: 400;
    }
}

/* footer categoreies elements */

.categories-container{
    @include desc(1440px){
        order: 2;
    }
}

.categories-title{
    font-size: 16px;
    @include lh(20, 16);
    color: $main-white;
    font-weight: 400;

    margin-bottom: 12px;
}

.categories-list{
    @include positioning(flex, column, _, _, 12px, _);

    &-item{

    }

    &-link{
        font-size: 14px;
        @include lh(19, 14);
        color: $main-white;
        font-weight: 400;
    }
}

/* footer about elements */

.about-container{
    @include desc(1440px){
        order: 3;
    }
}

.about-title{
    font-size: 16px;
    @include lh(20, 16);
    color: $main-white;
    font-weight: 400;

    margin-bottom: 12px;
}

.about-list{
    @include positioning(flex, column, _, _, 12px, _);

    &-item{

    }

    &-link{
        font-size: 14px;
        @include lh(19, 14);
        color: $main-white;
        font-weight: 400;
    }
}

/* oter elements */

.footer-mailing-title{
    font-size: 16px;
    @include lh(20, 16);
    color: $main-white;
    font-weight: 400;

    margin-bottom: 16px;
}

.footer-desc{
    font-size: 14px;
    @include lh(19, 14);
    color: $main-white;
    font-weight: 400;
    text-align: center;

    @include desc(1440px){
        text-align: left;
    }
}