.header{
    padding: 20px 0;
}

.header-wrap{
    @include positioning(flex, row-reverse, space-between, center, _ ,_);

    @include desc(1440px){
        @include positioning(flex, row, _, center, _, _);
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $header-br;
    }

    &-product{
        border: none;
        padding: 0;
        margin: 0;
    }
}

.user-list{
    display: none;

    @include desc(1440px){
        @include positioning(flex, _, center, center, 16px, _);

        &-product{
            order: 1;
        }
    }
}

.header-tools{
    @include positioning(flex, _, _, center, 20px, _);

    &-product{
        order: 1;
        margin-right: 16px;
    }
}