.section-hero{
    background-color: $main-dark;
    padding: 40px 0 24px 0;

    @include desc(1440px){
        padding: 60px 0;
        background-color: inherit;   
    }
}

.hero-container{
    background-color: $main-dark;
    padding: 60px;

    @include desc(1440px){
        @include positioning(flex, column, space-between, _, _, _);
        min-height: 584px;

        @include bg-image("../main/desc-webp/mian-webp/bg-main-desc-1x.webp", "../main/desc/main/bg-main-desc-1x.j");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include retina(2,192dpi,2dppx) {
            @include bg-image("../main/desc-webp/mian-webp/bg-main-desc-2x.webp", "../main/desc/main/bg-main-desc-3x.j");
        }
        
        @include retina(3,288dpi,3dppx) {
            @include bg-image("../main/desc-webp/mian-webp/bg-main-desc-2x.webp", "../main/desc/main/bg-main-desc-3x.j");
        }
    }
}

.hero-wrapper{
    @include positioning(flex, column-reverse, center, _, _, _);

    @include desc(1440px){
        @include positioning(flex, column, space-between, _, _, _);
        min-height: 306px;
    }

    &-bascet{
        @include desc(1440px){
            @include positioning(flex, row-reverse, space-between, center,_,_);
            margin-bottom: 16px;
        }
    }
}

.hero-title{
    font-weight: 400;
    font-size: 32px;
    @include lh(45, 32);
    color: $main-white;

    margin-bottom: 80px;
    max-width: 325px;

    @include desc(1440px){
        max-width: 513px;
        margin-bottom: 41px;
    }
}

.hero-desc{
    font-size: 18px;
    @include lh(27, 18);
    color: $main-white;
    max-width: 342px;

    margin-bottom: 32px;

    @include desc(1440px){
        max-width: 602px;
    }
}