.section-popular{
    padding: 48px 0 38px 0;

    &-title{
        @include font-style(Clash Display, 20px, 400, 1.4, _, _, $dark-primary);
        margin-bottom: 36px;

        @include desc(1440px){
            @include font-style(Clash Display, 32px, 400, 1.3, _, _, $dark-primary);
            margin-bottom: 25px;
        }
    }

    @include desc(1440px){
        padding: 64px 0 48px 0;
    }
}

.popular-list{
    @include positioning(flex, _, _, center, 20px, _);
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 32px;

     &-item:nth-child(-n+2){
        @include desc(1440px){
            display: none;
        }
    }

    &-img{
       height: 251px; 

       @include desc(1440px){
        height: 375px;
        margin-bottom: 24px;
       }
    }

    &-title{
        @include font-style( Clash Display, 20px, 400, 1.4, _, _, $dark-primary);
    }

    &-price{
        @include font-style( Satoshi, 18px, 400, 1.5, _, _, $dark-primary);
    }

    @include desc(1440px){
        overflow-y: unset;
    }
}

.popular-container{
    @include desc(1440px){
        max-width: 1280px;
        margin: 0 auto;
    }
}