.header-btn{
    background-color: inherit;
    color: $main-dark;
    font-weight: 400;
}

.user-list-btn{
    background-color: inherit;
    color: $main-dark;
    font-weight: 400;
}

.hero-btn{
    background-color: $hero-btn;
    color: $main-white;
    padding: 16px 118px;
    max-width: 180px;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;

    @include desc(1440px){
        padding: 16px 32px;
    }

    &-product{

        &-top{
            display: block;
            margin: 0 auto;
            padding: 16px 110px;
            background-color: $main-white;
            color: $main-dark;
            margin-bottom: 14px;

            @include desc(1440px){
                padding: 16px 32px;
                margin: 0;
                display: block;
                margin: 0;
            }
        }

        &-bottom{
            display: block;
            margin: 0 auto;
            padding: 16px 130px;
            background-color: $main-dark;
            color: $main-white;
            width: 149px;
            height: 80px;
            transition: 150ms transform;

            @include desc(1440px){
                padding: 16px 32px;
                margin: 0;
            }
        }
    }

    &-thanks{
        padding: 16px 32px;
        background-color: $main-dark;
        color: white;
    }
}

.new-btn{
    background-color: $main-btn;
    color: $main-dark;
    padding: 16px 118px;
    margin: 0 auto;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;

    @include desc(1440px){
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
    }
}

.popular-btn{
    background-color: $main-btn;
    color: $main-dark;
    padding: 16px 118px;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;

    @include desc(1440px){
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
    }
}

.mailing-btn{
    position: absolute;
    top: 0;
    right: 0;

    background-color: $main-dark;
    color: $main-white;
    padding: 16px 32px;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;
}

.info-btn{
    background-color: $main-btn;
    color: $main-dark;
    padding: 16px 118px;
    margin: 0 auto;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;

    @include desc(1440px){
        padding: 16px 32px;
        margin: 0;
    }
}

.footer-mailing-btn{
    position: absolute;
    top: 0;
    right: 0;

    background-color: $main-white;
    color: $main-dark;
    padding: 16px 32px;

    font-size: 16px;
    @include lh(24, 16);
    font-weight: 400;
}

//

.active{
    background-color: $footer-br-and-cart-desc; /* Трохи темніший зелений */
    transform: scale(0.95); /* Зменшення кнопки при натисканні */
}

.checkout-form-btn{
    background-color: $main-dark;
    color: white;
    padding: 16px 32px;
    display: block;
}