.section-features{
    padding: 47px 0;

    @include desc(1440px){
        padding: 60px 0 86px 0;
    }
}


.features-title{
    font-size: 20px;
    @include lh(28, 20);
    color: $main-dark;
    font-weight: 400;
    max-width: 274px;

    margin-bottom: 36px;

    @include desc(1440px){
        font-size: 24px;
        @include lh(34, 24);
        text-align: center; 
        max-width: 100%;
        margin-bottom: 51px;
    }
}


.features-list{
    @include positioning(flex, column, center, center, 36px, _);

    &-item-product{
        background-color: $mailing-bg;
        padding: 36px 24px;
    }

    &-title{
        font-style: 16px;
        @include lh(22, 16);
        color: $main-dark;
        font-weight: 400;

        margin: 16px 0 12px 0;

        @include desc(1440px){
            font-size: 20;
            @include lh(28, 20);
        }
    }

    &-desc{
        font-style: 14px;
        @include lh(21, 14);
        color: $main-dark;
        font-weight: 400;

        @include desc(1440px){
            font-size: 16px;
            @include lh(24, 16);
            font-weight: 400;
        }
    }

    @include desc(1440px){
        @include positioning(flex, row, center, center, 59px, _);
    }
}