.logo{
    &-footer{
        display: block;
        @include font-style(Clash Display, 36px, 400, 1.3, _, left, $white);
        margin-bottom: 16px;
    }

    @include font-style(Clash Display, 24px, 400, 1.2, _, _, $dark-primary);
    margin-right: auto;

    @include desc(1440px){
        margin-left: 412px;
    }
}