.nav{
    display: none;

    @include desc(1440px){
        display: block;
    }

    &-list{
        @include desc(1440px){
            @include positioning(flex, _, center, center, 44px, _);
        }

        &-item{
    
        }
    
        &-link{
            font-size: 16px;
            @include lh(22, 16);
            color: $main-light;
        }
    }

    &-product{
        margin: 0 auto 0 152px;
    }
}